.footer{
    color: var(--white);
    text-align: center;
}

.footer-logo{
    display: none;
}
.footer .social{
    justify-content: center;
    padding: 0;

}

@media screen and (min-width: 768px) {
    .footer-logo{
        display: block;
    }
    .footer  {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
        align-items: center;
    }

    .footer .social{
        order: 3;
    }
}
@media screen and (min-width: 1024px){
    .footer-copyrigth{
        display: flex;
    }
    .footer{
        padding: 40px;

    }
}